@import url(https://fonts.googleapis.com/css?family=Montserrat);
.container {
  width: 100%;
  max-width: 1200px; }

.row :before, .row :after {
  content: "";
  display: table;
  clear: both; }

[class*='col '] {
  float: left;
  min-height: 1px;
  width: 16.66%;
  padding: 12px; }

.col .s1 {
  width: 8.33%; }
.col .s2 {
  width: 16.66%; }
.col .s3 {
  width: 24.99%; }
.col .s4 {
  width: 33.33%; }
.col .s5 {
  width: 41.65; }
.col .s6 {
  width: 50%; }
.col .s7 {
  width: 58.33%; }
.col .s8 {
  width: 66.66%; }
.col .s9 {
  width: 74.99%; }
.col .s10 {
  width: 83.32%; }
.col .s11 {
  width: 91.65%; }
.col .s12 {
  width: 100%; }

@media all and (max-width: 800px) {
  .col .s10, .col .s11, .col .s12 {
    width: 100%; } }
@media all and (max-width: 650px) {
  .col .s1 {
    width: 16.66%; }
  .col .s2 {
    width: 33.33%; }
  .col .s3 {
    width: 66.66%; }
  .col .s4, .col .s5, .col .s6, .col .s7, .col .s8.s9, .col .s10, .col .s11, .col .s12 {
    width: 100%; } }
.turquoise {
  background-color: #1abc9c; }

.emerald {
  background-color: #2ecc71; }

.peterRiver {
  background-color: #3498db; }

.amethyst {
  background-color: #9b59b6; }

.wetAsphalt {
  background-color: #34495e; }

.greenSea {
  background-color: #16a085; }

.nephritis {
  background-color: #27ae60; }

.belizeHole {
  background-color: #2980b9; }

.wisteria {
  background-color: #8e44ad; }

.midnightBlue {
  background-color: #8e44ad; }

.sunFlower {
  background-color: #f1c40f; }

.carrot {
  background-color: #e67e22; }

.alizarin {
  background-color: #e74c3c; }

.clouds {
  background-color: #ecf0f1; }

.concrete {
  background-color: #95a5a6; }

.orange {
  background-color: #f39c12; }

.pumkpin {
  background-color: #d35400; }

.pomegrante {
  background-color: #c0392b; }

.silver {
  background-color: #bdc3c7; }

.asbestos {
  background-color: #7f8c8d; }

* {
  margin: 0;
  padding: 0; }

nav {
  background-color: #2ecc71;
  margin: 0;
  padding: 0; }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    height: 3em; }
    nav ul li {
      display: inline;
      border: 0;
      padding-top: 10px;
      float: right;
      color: white; }
      nav ul li a {
        color: white;
        display: block;
        padding: 0 15px;
        cursor: pointer;
        text-decoration: none;
        text-align: center; }
      nav ul li.left {
        float: left; }

.logoTitle {
  text-align: center;
  margin: 0 auto; }

.turquoise {
  background-color: #1abc9c; }

.emerald {
  background-color: #2ecc71; }

.peterRiver {
  background-color: #3498db; }

.amethyst {
  background-color: #9b59b6; }

.wetAsphalt {
  background-color: #34495e; }

.greenSea {
  background-color: #16a085; }

.nephritis {
  background-color: #27ae60; }

.belizeHole {
  background-color: #2980b9; }

.wisteria {
  background-color: #8e44ad; }

.midnightBlue {
  background-color: #8e44ad; }

.sunFlower {
  background-color: #f1c40f; }

.carrot {
  background-color: #e67e22; }

.alizarin {
  background-color: #e74c3c; }

.clouds {
  background-color: #ecf0f1; }

.concrete {
  background-color: #95a5a6; }

.orange {
  background-color: #f39c12; }

.pumkpin {
  background-color: #d35400; }

.pomegrante {
  background-color: #c0392b; }

.silver {
  background-color: #bdc3c7; }

.asbestos {
  background-color: #7f8c8d; }

html {
  font-family: Montserrat, sans-serif;
  line-height: 1.5em; }

.light {
  font-weight: 200; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 2;
  color: white; }

blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc; }

a {
  text-decoration: none; }

img {
  border-radius: 10px; }

.center-text {
  text-align: center; }

.center-block {
  margin: 0 auto; }

.vertical-align {
  display: flex;
  justify-content: center;
  align-items: center; }

.left-text {
  text-align: left; }

.right-text {
  text-align: right; }

p {
  line-height: 3;
  color: white; }

.turquoise {
  background-color: #1abc9c; }

.emerald {
  background-color: #2ecc71; }

.peterRiver {
  background-color: #3498db; }

.amethyst {
  background-color: #9b59b6; }

.wetAsphalt {
  background-color: #34495e; }

.greenSea {
  background-color: #16a085; }

.nephritis {
  background-color: #27ae60; }

.belizeHole {
  background-color: #2980b9; }

.wisteria {
  background-color: #8e44ad; }

.midnightBlue {
  background-color: #8e44ad; }

.sunFlower {
  background-color: #f1c40f; }

.carrot {
  background-color: #e67e22; }

.alizarin {
  background-color: #e74c3c; }

.clouds {
  background-color: #ecf0f1; }

.concrete {
  background-color: #95a5a6; }

.orange {
  background-color: #f39c12; }

.pumkpin {
  background-color: #d35400; }

.pomegrante {
  background-color: #c0392b; }

.silver {
  background-color: #bdc3c7; }

.asbestos {
  background-color: #7f8c8d; }

.hero {
  height: 40em;
  padding: 0;
  margin: 0;
  position: relative;
  background-size: cover; }
  .hero .text {
    font-size: 2.5em;
    margin: 0 auto;
    position: relative;
    display: block; }
  .hero.turquoise {
    background-color: #1abc9c; }
  .hero.emerald {
    background-color: #2ecc71; }
  .hero.peterRiver {
    background-color: #3498db; }
  .hero.amethyst {
    background-color: #9b59b6; }
  .hero.wetAsphalt {
    background-color: #34495e; }
  .hero.greenSea {
    background-color: #16a085; }
  .hero.nephritis {
    background-color: #27ae60; }
  .hero.belizeHole {
    background-color: #2980b9; }
  .hero.wisteria {
    background-color: #8e44ad; }
  .hero.midnightBlue {
    background-color: #8e44ad; }
  .hero.sunFlower {
    background-color: #f1c40f; }
  .hero.carrot {
    background-color: #e67e22; }
  .hero.alizarin {
    background-color: #e74c3c; }
  .hero.clouds {
    background-color: #ecf0f1; }
  .hero.concrete {
    background-color: #95a5a6; }
  .hero.orange {
    background-color: #f39c12; }
  .hero.pumkpin {
    background-color: #d35400; }
  .hero.pomegrante {
    background-color: #c0392b; }
  .hero.silver {
    background-color: #bdc3c7; }
  .hero.asbestos {
    background-color: #7f8c8d; }

.turquoise {
  background-color: #1abc9c; }

.emerald {
  background-color: #2ecc71; }

.peterRiver {
  background-color: #3498db; }

.amethyst {
  background-color: #9b59b6; }

.wetAsphalt {
  background-color: #34495e; }

.greenSea {
  background-color: #16a085; }

.nephritis {
  background-color: #27ae60; }

.belizeHole {
  background-color: #2980b9; }

.wisteria {
  background-color: #8e44ad; }

.midnightBlue {
  background-color: #8e44ad; }

.sunFlower {
  background-color: #f1c40f; }

.carrot {
  background-color: #e67e22; }

.alizarin {
  background-color: #e74c3c; }

.clouds {
  background-color: #ecf0f1; }

.concrete {
  background-color: #95a5a6; }

.orange {
  background-color: #f39c12; }

.pumkpin {
  background-color: #d35400; }

.pomegrante {
  background-color: #c0392b; }

.silver {
  background-color: #bdc3c7; }

.asbestos {
  background-color: #7f8c8d; }

a {
  color: white; }
  a .btn .turquoise {
    background-color: #1abc9c; }
  a .btn .emerald {
    background-color: #2ecc71; }
  a .btn .peterRiver {
    background-color: #3498db; }
  a .btn .amethyst {
    background-color: #9b59b6; }
  a .btn .wetAsphalt {
    background-color: #34495e; }
  a .btn .greenSea {
    background-color: #16a085; }
  a .btn .nephritis {
    background-color: #27ae60; }
  a .btn .belizeHole {
    background-color: #2980b9; }
  a .btn .wisteria {
    background-color: #8e44ad; }
  a .btn .midnightBlue {
    background-color: #8e44ad; }
  a .btn .sunFlower {
    background-color: #f1c40f; }
  a .btn .carrot {
    background-color: #e67e22; }
  a .btn .alizarin {
    background-color: #e74c3c; }
  a .btn .clouds {
    background-color: #ecf0f1; }
  a .btn .concrete {
    background-color: #95a5a6; }
  a .btn .orange {
    background-color: #f39c12; }
  a .btn .pumkpin {
    background-color: #d35400; }
  a .btn .pomegrante {
    background-color: #c0392b; }
  a .btn .silver {
    background-color: #bdc3c7; }
  a .btn .asbestos {
    background-color: #7f8c8d; }

.turquoise {
  background-color: #1abc9c; }

.emerald {
  background-color: #2ecc71; }

.peterRiver {
  background-color: #3498db; }

.amethyst {
  background-color: #9b59b6; }

.wetAsphalt {
  background-color: #34495e; }

.greenSea {
  background-color: #16a085; }

.nephritis {
  background-color: #27ae60; }

.belizeHole {
  background-color: #2980b9; }

.wisteria {
  background-color: #8e44ad; }

.midnightBlue {
  background-color: #8e44ad; }

.sunFlower {
  background-color: #f1c40f; }

.carrot {
  background-color: #e67e22; }

.alizarin {
  background-color: #e74c3c; }

.clouds {
  background-color: #ecf0f1; }

.concrete {
  background-color: #95a5a6; }

.orange {
  background-color: #f39c12; }

.pumkpin {
  background-color: #d35400; }

.pomegrante {
  background-color: #c0392b; }

.silver {
  background-color: #bdc3c7; }

.asbestos {
  background-color: #7f8c8d; }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%; }
  .card .turquoise {
    background-color: #1abc9c; }
  .card .emerald {
    background-color: #2ecc71; }
  .card .peterRiver {
    background-color: #3498db; }
  .card .amethyst {
    background-color: #9b59b6; }
  .card .wetAsphalt {
    background-color: #34495e; }
  .card .greenSea {
    background-color: #16a085; }
  .card .nephritis {
    background-color: #27ae60; }
  .card .belizeHole {
    background-color: #2980b9; }
  .card .wisteria {
    background-color: #8e44ad; }
  .card .midnightBlue {
    background-color: #8e44ad; }
  .card .sunFlower {
    background-color: #f1c40f; }
  .card .carrot {
    background-color: #e67e22; }
  .card .alizarin {
    background-color: #e74c3c; }
  .card .clouds {
    background-color: #ecf0f1; }
  .card .concrete {
    background-color: #95a5a6; }
  .card .orange {
    background-color: #f39c12; }
  .card .pumkpin {
    background-color: #d35400; }
  .card .pomegrante {
    background-color: #c0392b; }
  .card .silver {
    background-color: #bdc3c7; }
  .card .asbestos {
    background-color: #7f8c8d; }
  .card :hover {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2); }
  .card .container {
    padding: 2px 16px; }
  .card .card-title .turquoise {
    background-color: #1abc9c; }
  .card .card-title .emerald {
    background-color: #2ecc71; }
  .card .card-title .peterRiver {
    background-color: #3498db; }
  .card .card-title .amethyst {
    background-color: #9b59b6; }
  .card .card-title .wetAsphalt {
    background-color: #34495e; }
  .card .card-title .greenSea {
    background-color: #16a085; }
  .card .card-title .nephritis {
    background-color: #27ae60; }
  .card .card-title .belizeHole {
    background-color: #2980b9; }
  .card .card-title .wisteria {
    background-color: #8e44ad; }
  .card .card-title .midnightBlue {
    background-color: #8e44ad; }
  .card .card-title .sunFlower {
    background-color: #f1c40f; }
  .card .card-title .carrot {
    background-color: #e67e22; }
  .card .card-title .alizarin {
    background-color: #e74c3c; }
  .card .card-title .clouds {
    background-color: #ecf0f1; }
  .card .card-title .concrete {
    background-color: #95a5a6; }
  .card .card-title .orange {
    background-color: #f39c12; }
  .card .card-title .pumkpin {
    background-color: #d35400; }
  .card .card-title .pomegrante {
    background-color: #c0392b; }
  .card .card-title .silver {
    background-color: #bdc3c7; }
  .card .card-title .asbestos {
    background-color: #7f8c8d; }

/*# sourceMappingURL=main.css.map */
