@import url(https://fonts.googleapis.com/css?family=Montserrat);
* {
  box-sizing: border-box; }

[class*="col"] {
  width: 100%; }

@media only screen and (min-width: 600px) {
  .col .s1 {
    width: 8.33%; }
  .col .s2 {
    width: 16.66%; }
  .col .s3 {
    width: 25%; }
  .col .s4 {
    width: 33.33%; }
  .col .s5 {
    width: 41.66%; }
  .col .s6 {
    width: 50%; }
  .col .s7 {
    width: 58.33%; }
  .col .s8 {
    width: 66.66%; }
  .col .s9 {
    width: 75%; }
  .col .s10 {
    width: 83.33%; }
  .col .s11 {
    width: 91.66%; }
  .col .s12 {
    width: 100%; } }
@media only screen and (min-width: 768px) {
  .col .s1 {
    width: 8.33%; }
  .col .s2 {
    width: 16.66%; }
  .col .s3 {
    width: 25%; }
  .col .s4 {
    width: 33.33%; }
  .col .s5 {
    width: 41.66%; }
  .col .s6 {
    width: 50%; }
  .col .s7 {
    width: 58.33%; }
  .col .s8 {
    width: 66.66%; }
  .col .s9 {
    width: 75%; }
  .col .s10 {
    width: 83.33%; }
  .col .s11 {
    width: 91.66%; }
  .col .s12 {
    width: 100%; } }
.row {
  display: flex;
  display: -webkit-flex; }

img {
  width: 100%;
  height: auto; }

.container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto; }

.turquoise {
  background-color: #1abc9c; }

.emerald {
  background-color: #2ecc71; }

.peterRiver {
  background-color: #3498db; }

.amethyst {
  background-color: #9b59b6; }

.wetAsphalt {
  background-color: #34495e; }

.greenSea {
  background-color: #16a085; }

.nephritis {
  background-color: #27ae60; }

.belizeHole {
  background-color: #2980b9; }

.wisteria {
  background-color: #8e44ad; }

.midnightBlue {
  background-color: #8e44ad; }

.sunFlower {
  background-color: #f1c40f; }

.carrot {
  background-color: #e67e22; }

.alizarin {
  background-color: #e74c3c; }

.clouds {
  background-color: #ecf0f1; }

.concrete {
  background-color: #95a5a6; }

.orange {
  background-color: #f39c12; }

.pumkpin {
  background-color: #d35400; }

.pomegrante {
  background-color: #c0392b; }

.silver {
  background-color: #bdc3c7; }

.asbestos {
  background-color: #7f8c8d; }

.black {
  background-color: black; }

.turquoise-text {
  color: #1abc9c; }

.emerald-text {
  color: #2ecc71; }

.peterRiver-text {
  color: #3498db; }

.amethyst-text {
  color: #9b59b6; }

.wetAsphalt-text {
  color: #34495e; }

.greenSea-text {
  color: #16a085; }

.nephritis-text {
  color: #27ae60; }

.belizeHole-text {
  color: #2980b9; }

.wisteria-text {
  color: #8e44ad; }

.midnightBlue-text {
  color: #8e44ad; }

.sunFlower-text {
  color: #f1c40f; }

.carrot-text {
  color: #e67e22; }

.alizarin-text {
  color: #e74c3c; }

.clouds-text {
  color: #ecf0f1; }

.concrete-text {
  color: #95a5a6; }

.orange-text {
  color: #f39c12; }

.pumkpin-text {
  color: #d35400; }

.pomegrante-text {
  color: #c0392b; }

.silver-text {
  color: #bdc3c7; }

.asbestos-text {
  color: #7f8c8d; }

.black-text {
  color: black; }

body {
  margin: 0; }

* {
  margin: 0;
  padding: 0; }

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2ecc71; }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    vertical-align: center;
    justify-content: center;
    height: 3em; }
    nav ul li {
      border: 0;
      padding-top: 10px;
      color: white;
      float: right; }
      nav ul li a {
        color: white;
        display: inline-block;
        padding: 0px 15px;
        cursor: pointer;
        text-decoration: none;
        text-align: center; }
      nav ul li.left {
        float: left; }
      nav ul li.right {
        float: right; }

.logoTitle {
  float: left; }

.turquoise {
  background-color: #1abc9c; }

.emerald {
  background-color: #2ecc71; }

.peterRiver {
  background-color: #3498db; }

.amethyst {
  background-color: #9b59b6; }

.wetAsphalt {
  background-color: #34495e; }

.greenSea {
  background-color: #16a085; }

.nephritis {
  background-color: #27ae60; }

.belizeHole {
  background-color: #2980b9; }

.wisteria {
  background-color: #8e44ad; }

.midnightBlue {
  background-color: #8e44ad; }

.sunFlower {
  background-color: #f1c40f; }

.carrot {
  background-color: #e67e22; }

.alizarin {
  background-color: #e74c3c; }

.clouds {
  background-color: #ecf0f1; }

.concrete {
  background-color: #95a5a6; }

.orange {
  background-color: #f39c12; }

.pumkpin {
  background-color: #d35400; }

.pomegrante {
  background-color: #c0392b; }

.silver {
  background-color: #bdc3c7; }

.asbestos {
  background-color: #7f8c8d; }

.black {
  background-color: black; }

.turquoise-text {
  color: #1abc9c; }

.emerald-text {
  color: #2ecc71; }

.peterRiver-text {
  color: #3498db; }

.amethyst-text {
  color: #9b59b6; }

.wetAsphalt-text {
  color: #34495e; }

.greenSea-text {
  color: #16a085; }

.nephritis-text {
  color: #27ae60; }

.belizeHole-text {
  color: #2980b9; }

.wisteria-text {
  color: #8e44ad; }

.midnightBlue-text {
  color: #8e44ad; }

.sunFlower-text {
  color: #f1c40f; }

.carrot-text {
  color: #e67e22; }

.alizarin-text {
  color: #e74c3c; }

.clouds-text {
  color: #ecf0f1; }

.concrete-text {
  color: #95a5a6; }

.orange-text {
  color: #f39c12; }

.pumkpin-text {
  color: #d35400; }

.pomegrante-text {
  color: #c0392b; }

.silver-text {
  color: #bdc3c7; }

.asbestos-text {
  color: #7f8c8d; }

.black-text {
  color: black; }

html {
  font-family: Montserrat, sans-serif;
  line-height: 1.5em; }

.light {
  font-weight: 200; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 2;
  color: white; }

blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc; }

a {
  text-decoration: none; }

img {
  border-radius: 10px; }

.center-text {
  text-align: center; }

.center-block {
  margin: 0 auto; }

.vertical-align {
  display: flex;
  justify-content: center;
  align-items: center; }

.left-text {
  text-align: left; }

.right-text {
  text-align: right; }

p {
  line-height: 3;
  color: white; }

code {
  background-color: grey;
  color: black;
  text-align: center; }

.turquoise {
  background-color: #1abc9c; }

.emerald {
  background-color: #2ecc71; }

.peterRiver {
  background-color: #3498db; }

.amethyst {
  background-color: #9b59b6; }

.wetAsphalt {
  background-color: #34495e; }

.greenSea {
  background-color: #16a085; }

.nephritis {
  background-color: #27ae60; }

.belizeHole {
  background-color: #2980b9; }

.wisteria {
  background-color: #8e44ad; }

.midnightBlue {
  background-color: #8e44ad; }

.sunFlower {
  background-color: #f1c40f; }

.carrot {
  background-color: #e67e22; }

.alizarin {
  background-color: #e74c3c; }

.clouds {
  background-color: #ecf0f1; }

.concrete {
  background-color: #95a5a6; }

.orange {
  background-color: #f39c12; }

.pumkpin {
  background-color: #d35400; }

.pomegrante {
  background-color: #c0392b; }

.silver {
  background-color: #bdc3c7; }

.asbestos {
  background-color: #7f8c8d; }

.black {
  background-color: black; }

.turquoise-text {
  color: #1abc9c; }

.emerald-text {
  color: #2ecc71; }

.peterRiver-text {
  color: #3498db; }

.amethyst-text {
  color: #9b59b6; }

.wetAsphalt-text {
  color: #34495e; }

.greenSea-text {
  color: #16a085; }

.nephritis-text {
  color: #27ae60; }

.belizeHole-text {
  color: #2980b9; }

.wisteria-text {
  color: #8e44ad; }

.midnightBlue-text {
  color: #8e44ad; }

.sunFlower-text {
  color: #f1c40f; }

.carrot-text {
  color: #e67e22; }

.alizarin-text {
  color: #e74c3c; }

.clouds-text {
  color: #ecf0f1; }

.concrete-text {
  color: #95a5a6; }

.orange-text {
  color: #f39c12; }

.pumkpin-text {
  color: #d35400; }

.pomegrante-text {
  color: #c0392b; }

.silver-text {
  color: #bdc3c7; }

.asbestos-text {
  color: #7f8c8d; }

.black-text {
  color: black; }

.hero {
  height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
  background-size: cover; }
  .hero .text {
    font-size: 2.5em;
    margin: 0 auto;
    position: relative;
    display: block; }
  .hero .showing {
    height: 80vh; }

.turquoise {
  background-color: #1abc9c; }

.emerald {
  background-color: #2ecc71; }

.peterRiver {
  background-color: #3498db; }

.amethyst {
  background-color: #9b59b6; }

.wetAsphalt {
  background-color: #34495e; }

.greenSea {
  background-color: #16a085; }

.nephritis {
  background-color: #27ae60; }

.belizeHole {
  background-color: #2980b9; }

.wisteria {
  background-color: #8e44ad; }

.midnightBlue {
  background-color: #8e44ad; }

.sunFlower {
  background-color: #f1c40f; }

.carrot {
  background-color: #e67e22; }

.alizarin {
  background-color: #e74c3c; }

.clouds {
  background-color: #ecf0f1; }

.concrete {
  background-color: #95a5a6; }

.orange {
  background-color: #f39c12; }

.pumkpin {
  background-color: #d35400; }

.pomegrante {
  background-color: #c0392b; }

.silver {
  background-color: #bdc3c7; }

.asbestos {
  background-color: #7f8c8d; }

.black {
  background-color: black; }

.turquoise-text {
  color: #1abc9c; }

.emerald-text {
  color: #2ecc71; }

.peterRiver-text {
  color: #3498db; }

.amethyst-text {
  color: #9b59b6; }

.wetAsphalt-text {
  color: #34495e; }

.greenSea-text {
  color: #16a085; }

.nephritis-text {
  color: #27ae60; }

.belizeHole-text {
  color: #2980b9; }

.wisteria-text {
  color: #8e44ad; }

.midnightBlue-text {
  color: #8e44ad; }

.sunFlower-text {
  color: #f1c40f; }

.carrot-text {
  color: #e67e22; }

.alizarin-text {
  color: #e74c3c; }

.clouds-text {
  color: #ecf0f1; }

.concrete-text {
  color: #95a5a6; }

.orange-text {
  color: #f39c12; }

.pumkpin-text {
  color: #d35400; }

.pomegrante-text {
  color: #c0392b; }

.silver-text {
  color: #bdc3c7; }

.asbestos-text {
  color: #7f8c8d; }

.black-text {
  color: black; }

.btn {
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 16px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  display: inline-block;
  box-shadow: 0px 5px 0px 0px #15B358;
  background-color: #3498db;
  display: flex;
  vertical-align: center;
  justify-content: center; }

.turquoise {
  background-color: #1abc9c; }

.emerald {
  background-color: #2ecc71; }

.peterRiver {
  background-color: #3498db; }

.amethyst {
  background-color: #9b59b6; }

.wetAsphalt {
  background-color: #34495e; }

.greenSea {
  background-color: #16a085; }

.nephritis {
  background-color: #27ae60; }

.belizeHole {
  background-color: #2980b9; }

.wisteria {
  background-color: #8e44ad; }

.midnightBlue {
  background-color: #8e44ad; }

.sunFlower {
  background-color: #f1c40f; }

.carrot {
  background-color: #e67e22; }

.alizarin {
  background-color: #e74c3c; }

.clouds {
  background-color: #ecf0f1; }

.concrete {
  background-color: #95a5a6; }

.orange {
  background-color: #f39c12; }

.pumkpin {
  background-color: #d35400; }

.pomegrante {
  background-color: #c0392b; }

.silver {
  background-color: #bdc3c7; }

.asbestos {
  background-color: #7f8c8d; }

.black {
  background-color: black; }

.turquoise-text {
  color: #1abc9c; }

.emerald-text {
  color: #2ecc71; }

.peterRiver-text {
  color: #3498db; }

.amethyst-text {
  color: #9b59b6; }

.wetAsphalt-text {
  color: #34495e; }

.greenSea-text {
  color: #16a085; }

.nephritis-text {
  color: #27ae60; }

.belizeHole-text {
  color: #2980b9; }

.wisteria-text {
  color: #8e44ad; }

.midnightBlue-text {
  color: #8e44ad; }

.sunFlower-text {
  color: #f1c40f; }

.carrot-text {
  color: #e67e22; }

.alizarin-text {
  color: #e74c3c; }

.clouds-text {
  color: #ecf0f1; }

.concrete-text {
  color: #95a5a6; }

.orange-text {
  color: #f39c12; }

.pumkpin-text {
  color: #d35400; }

.pomegrante-text {
  color: #c0392b; }

.silver-text {
  color: #bdc3c7; }

.asbestos-text {
  color: #7f8c8d; }

.black-text {
  color: black; }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%; }
  .card :hover {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2); }
  .card .container {
    padding: 2px 16px; }

/*# sourceMappingURL=main.css.map */
