@import "color";
a{
  .btn{
    //Colors
    .turquoise-text{
      background-color:$turquoise;
    }
    .emerald-text{
      background-color:$emerald;
    }
    .peterRiver-text{
      background-color:$peterRiver;
    }
    .amethyst-text{
      background-color:$amethyst;
    }
    .wetAsphalt-text{
      background-color:$wetAsphalt;
    }
    .greenSea-text{
      background-color:$greenSea;
    }
    .nephritis-text{
      background-color:$nephritis;
    }
    .belizeHole-text{
      background-color:$belizeHole;
    }
    .wisteria-text{
      background-color:$wisteria;
    }
    .midnightBlue-text{
      background-color:$midnightBlue;
    }
    .sunFlower-text{
      background-color:$sunFlower;
    }
    .carrot-text{
      background-color:$carrot;
    }
    .alizarin-text{
      background-color:$alizarin;
    }
    .clouds-text{
      background-color:$clouds;
    }
    .concrete-text{
      background-color:$concrete;
    }
    .orange-text{
      background-color:$orange;
    }
    .pumkpin-text{
      background-color:$pumkpin;
    }
    .pomegrante-text{
      background-color:$pomegrante;
    }
    .silver-text{
      background-color:$silver;
    }
    .asbestos-text{
      background-color:$asbestos;
    }

  }
}
