@import "color";
$default-color:$peterRiver;
a{

}
.btn{
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 16px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  display: inline-block;
  box-shadow: 0px 5px 0px 0px #15B358;
  background-color:$default-color;
  display: flex;
  vertical-align: center;
  justify-content: center;
}