@import 'color';
.card{
  //Shadow
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  // Hover Thingy
  :hover{
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
  }
  // Container
  .container{
    padding: 2px 16px;
  }
  .card-title{
    //Allows for line break and more color stuff
  }
}
