@import 'color';
.card{
  //Colors
  .turquoise{
    background-color:$turquoise;
  }
  .emerald{
    background-color:$emerald;
  }
  .peterRiver{
    background-color:$peterRiver;
  }
  .amethyst{
    background-color:$amethyst;
  }
  .wetAsphalt{
    background-color:$wetAsphalt;
  }
  .greenSea{
    background-color:$greenSea;
  }
  .nephritis{
    background-color:$nephritis;
  }
  .belizeHole{
    background-color:$belizeHole;
  }
  .wisteria{
    background-color:$wisteria;
  }
  .midnightBlue{
    background-color:$midnightBlue;
  }
  .sunFlower{
    background-color:$sunFlower;
  }
  .carrot{
    background-color:$carrot;
  }
  .alizarin{
    background-color:$alizarin;
  }
  .clouds{
    background-color:$clouds;
  }
  .concrete{
    background-color:$concrete;
  }
  .orange{
    background-color:$orange;
  }
  .pumkpin{
    background-color:$pumkpin;
  }
  .pomegrante{
    background-color:$pomegrante;
  }
  .silver{
    background-color:$silver;
  }
  .asbestos{
    background-color:$asbestos;
  }
  //Shadow
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  // Hover Thingy
  :hover{
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
  }
  // Container
  .container{
    padding: 2px 16px;
  }
  .card-title{
    //Allows for line break and more color stuff
    .turquoise{
      background-color:$turquoise;
    }
    .emerald{
      background-color:$emerald;
    }
    .peterRiver{
      background-color:$peterRiver;
    }
    .amethyst{
      background-color:$amethyst;
    }
    .wetAsphalt{
      background-color:$wetAsphalt;
    }
    .greenSea{
      background-color:$greenSea;
    }
    .nephritis{
      background-color:$nephritis;
    }
    .belizeHole{
      background-color:$belizeHole;
    }
    .wisteria{
      background-color:$wisteria;
    }
    .midnightBlue{
      background-color:$midnightBlue;
    }
    .sunFlower{
      background-color:$sunFlower;
    }
    .carrot{
      background-color:$carrot;
    }
    .alizarin{
      background-color:$alizarin;
    }
    .clouds{
      background-color:$clouds;
    }
    .concrete{
      background-color:$concrete;
    }
    .orange{
      background-color:$orange;
    }
    .pumkpin{
      background-color:$pumkpin;
    }
    .pomegrante{
      background-color:$pomegrante;
    }
    .silver{
      background-color:$silver;
    }
    .asbestos{
      background-color:$asbestos;
    }
  }
}
