$turquoise : #1abc9c;
$emerald : #2ecc71;
$peterRiver : #3498db;
$amethyst :#9b59b6;
$wetAsphalt : #34495e;
$greenSea : #16a085;
$nephritis : #27ae60;
$belizeHole : #2980b9;
$wisteria : #8e44ad;
$midnightBlue : #8e44ad;
$sunFlower : #f1c40f;
$carrot : #e67e22;
$alizarin : #e74c3c;
$clouds : #ecf0f1;
$concrete : #95a5a6;
$orange : #f39c12;
$pumkpin : #d35400;
$pomegrante : #c0392b;
$silver : #bdc3c7;
$asbestos : #7f8c8d;
$turquoise : #1abc9c;
$emerald : #2ecc71;
