$turquoise : #1abc9c;
$emerald : #2ecc71;
$peterRiver : #3498db;
$amethyst :#9b59b6;
$wetAsphalt : #34495e;
$greenSea : #16a085;
$nephritis : #27ae60;
$belizeHole : #2980b9;
$wisteria : #8e44ad;
$midnightBlue : #8e44ad;
$sunFlower : #f1c40f;
$carrot : #e67e22;
$alizarin : #e74c3c;
$clouds : #ecf0f1;
$concrete : #95a5a6;
$orange : #f39c12;
$pumkpin : #d35400;
$pomegrante : #c0392b;
$silver : #bdc3c7;
$asbestos : #7f8c8d;
$turquoise : #1abc9c;
$emerald : #2ecc71;

.turquoise{
  background-color:$turquoise;
}
.emerald{
  background-color:$emerald;
}
.peterRiver{
  background-color:$peterRiver;
}
.amethyst{
  background-color:$amethyst;
}
.wetAsphalt{
  background-color:$wetAsphalt;
}
.greenSea{
  background-color:$greenSea;
}
.nephritis{
  background-color:$nephritis;
}
.belizeHole{
  background-color:$belizeHole;
}
.wisteria{
  background-color:$wisteria;
}
.midnightBlue{
  background-color:$midnightBlue;
}
.sunFlower{
  background-color:$sunFlower;
}
.carrot{
  background-color:$carrot;
}
.alizarin{
  background-color:$alizarin;
}
.clouds{
  background-color:$clouds;
}
.concrete{
  background-color:$concrete;
}
.orange{
  background-color:$orange;
}
.pumkpin{
  background-color:$pumkpin;
}
.pomegrante{
  background-color:$pomegrante;
}
.silver{
  background-color:$silver;
}
.asbestos{
  background-color:$asbestos;
}
