@import "color";
.hero{
    height:100vh;
    padding:0;
    margin:0;
    position:relative;
    background-size:cover;
    .text{
        font-size:2.5em;
        margin: 0 auto;
        position:relative;
        display:block;
    }
    //Shows a bit of text below
    .showing{
      height:80vh;
    }
      //Colors
}
