@import "color";
$default-color:$emerald;
* {
  margin: 0;
}
nav {
    background-color:$default-color;
    margin: 0;
    padding: 0;
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border: 1px solid #e7e7e7;
        li {            
            display:inline;
            border:0;
            padding-top:10px;
            float:right;
            color:white;
            a {
                color: white;
                display: block;
                padding: 0 15px;
                cursor: pointer;
                text-decoration:none;
                text-align:center;
            }
            &.left{
                float:left;
            }

        }
            height:3em;

    }
}
.logoTitle{
  text-align:center;
  margin:0 auto;
}