@import "color";
$default-color:$emerald;

body{ margin:0}
*{
    margin:0;
    padding:0;
}
nav {
      list-style-type:none;
      margin:0;
      padding:0;
      overflow:hidden;
      background-color:$default-color;
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        li {             
            border:0;
            padding-top:10px;
            float:right; 
            color:white;
            a {
                color: white;
                display:inline-block;
                padding: 0px 15px;
                cursor: pointer;
                text-decoration:none;
                text-align:center; 
            }
            &.left{
                float:left;
            }

        }
            height:3em;

    }
}
.logoTitle{
  // text-align:center;
  // margin:0 auto;
}
