nav{
  ul {
    margin: 0;
    li {
      transition: background-color .3s;
      float: left;
      padding: 0;
      &.active {
        background-color: rgba(0,0,0,.1);
      }
    }
    a {
      transition: background-color .3s;
     
      color: white;
      display: block;
      padding: 0 15px;
      cursor: pointer;
      &.btn{
        margin-top: -2px;
        margin-left: 15px;
        margin-right: 15px;
      }
      &:hover {
        background-color: rgba(0,0,0,.1);
      }
    }
    &.left {
      float: left;
    }
  }
  background-color:red;
}
