@import url(https://fonts.googleapis.com/css?family=Montserrat);

$font-stack: Montserrat, sans-serif;

html{
  font-family: $font-stack;
  line-height: 1.5em;
}

.light{
  font-weight:200;
}
h1, h2, h3, h4, h5, h6{
  font-weight:400;
  line-height:2;
  color:white;
}
blockquote{
  margin-top:10px;
  margin-bottom:10px;
  margin-left: 50px;
  padding-left:15px;
  border-left: 3px solid #ccc;
}
a{
    text-decoration:none;
}
img{
  border-radius:10px;
}
.center-text{
    text-align:center;
}
.center-block{
    margin: 0 auto;
}
.vertical-align{
      display: flex;
      justify-content: center;
      align-items: center;
}
.left-text{
  text-align:left;
}
.right-text{
  text-align:right;
}
p{
  line-height:3;
  color:white;
}